<div *ngIf="!list">
 <span #loading>
     <ng-content select="[loading]"></ng-content>
  </span>
 <span *ngIf="!loading.innerHTML.trim()"> 
    <img  src="https://media4.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif?cid=ecf05e47gzr6ov4uuwaz6myhq809aa5twg2q5n642fwhyt0e&rid=giphy.gif&ct=g" />
  </span>
  
</div>

<div *ngIf="list?.length === 0">
    <span #empty>
        <ng-content select="[empty]"></ng-content>
    </span>
    <span *ngIf="!empty.innerHTML.trim()">
        There is no data to display.
    </span>
 
</div>
<ng-container *ngIf="list && list.length > 0">
    <ng-content select="[content]"></ng-content>
</ng-container>
